table {
    -moz-box-align: center; 
    font-family: arial, sans-serif;
      width: 50%;
      border-collapse: collapse;
      padding: 20px;
      margin: 40;
      border: 30px solid blue;
      margin:auto;
      
      
  }
  th{
    background-color:black;
    padding: 20px;
    text-align: left;
    color: grey;
    
    
  }
  
  td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 20px;
  
  }
  
  
  tr:nth-child(odd) {
      background-color: silver;
  }
  
  tr:hover {
    background-color:yellow ;
    color: orange;
  }
  